/* Main css file, if you want to style some component or view consider creating separate .css file */
body {
  font-family: sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  text-align: center;
}

button {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 5px;
  padding: 4px 8p;
  cursor: pointer;
}
